.game {
  display: flex;
  margin-right: auto;
  gap: 20px;
  padding: 10px;
  width: 90vw;
  background-color: white;
  border: 3px solid var(--color-primary);
  cursor: pointer;
}

.game > *:last-child {
  margin-left: auto;
}

.game__rating {
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 2em;
  flex-shrink: 0;
}

.game__rating--high {
  background-color: #0AAB0A;
}

.game__rating--average {
  background-color: #DA7712;
}

.game__rating--low {
  background-color: red;
}
