.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 2px 24px;
  background-color: var(--bg-secondary);
  z-index: 1;
}

.navbar__toggle {
  display: none;
  border: none;
  border-radius: 10px;
  padding: 2px;
  background-color: transparent;
  transition: outline 200ms ease;
}

.navbar__toggle:hover {
  opacity: 0.7;
}

.navbar__toggle:focus {
  outline: 6px solid rgba(236, 236, 236, 0.164);
}

.container {
  display: flex;
  gap: 16px;
  max-height: 100vh;
  transition: max-height 600ms linear;
}

.navbar__brand {
  color: white;
  text-decoration: none;
}

.navbar__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__nav:last-child {
  margin-left: auto;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 0.7;
}

.nav__link.active {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
  }

  .navbar__nav,
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__toggle {
    display: flex;
  }

  .navbar__nav:last-child {
    margin-left: 0;
  }

  .collapsed {
    max-height: 0;
  }

  .collapsed > * {
    display: none;
  }
}
