<button class="form__toggle" (click)="onFiltersToggle()">
  <img src="assets/icons/iconmonstr-filter.png" width="auto" height="25" />
  <strong><p>Filtros</p></strong>
</button>

<form
  class="form disabled"
  (ngSubmit)="onSubmit()"
  [formGroup]="filtersForm"
  *ngIf="showForm"
>
  <header class="form__header">
    <button class="form__close-btn" type="button" (click)="onFiltersToggle()">
      &times;
    </button>
    <h3>Filtros</h3>
  </header>

  <section class="form__body">
    <!--Ratings Section-->
    <h4>Nota</h4>
    <div class="container container--space-between">
      <div>
        <label class="form__label" for="min-rating-number">Nota Mínima</label>
        <input
          name="min-rating-number"
          class="form__input"
          type="number"
          formControlName="minRating"
          [value]="filtersForm.value.minRating"
        />
        <input
          name="min-rating-range"
          type="range"
          min="0"
          max="100"
          formControlName="minRating"
          [value]="filtersForm.value.minRating"
        />
      </div>
      <div>
        <label class="form__label" for="max-rating-number">Nota Máxima</label>
        <input
          name="max-rating-number"
          class="form__input"
          type="number"
          formControlName="maxRating"
          [value]="filtersForm.value.maxRating"
        />
        <input
          name="max-rating-range"
          type="range"
          min="0"
          max="100"
          formControlName="maxRating"
          [value]="filtersForm.value.maxRating"
        />
      </div>
    </div>
    <!--Genres Section-->
    <h4>Gêneros</h4>
    <div class="container" formArrayName="genres">
      <label *ngFor="let item of genresFormArray; let index = index">
        <input
          type="checkbox"
          [checked]="item.value.checked"
          (change)="item.value.checked = !item.value.checked"
        />
        {{ item.value.name }}
      </label>
    </div>

    <!--Platforms Section-->
    <h4>Plataformas</h4>
    <div class="container" formArrayName="platforms">
      <label *ngFor="let item of platformsFormArray; let index = index">
        <input
          type="checkbox"
          [checked]="item.value.checked"
          (change)="item.value.checked = !item.value.checked"
        />
        {{ item.value.name }}
      </label>
    </div>
    <button class="form__submit-btn" type="submit">Aplicar</button>
  </section>
</form>
