.section {
  padding: 0px 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 90%;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border: 6px solid var(--color-primary);
  background-color: white;
  padding: 10px;
}

.game__details {
  display: flex;
  flex-direction: column;
}

.game__ratings {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.rating__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__rating {
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 2rem;
  flex-shrink: 0;
}

.game__rating--high {
  background-color: #0aab0a;
}

.game__rating--average {
  background-color: #da7712;
}

.game__rating--low {
  background-color: red;
}

.game__rating--no-rating {
  background-color: gray;
}

@media only screen and (max-width: 768px) {
  .game {
    flex-direction: column;
    align-items: center;
  }

  .game__ratings {
    flex-direction: row;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    text-align: center;
  }

  .container {
    justify-content: center;
  }
}
