<section class="section" *ngIf="game">
  <h1>{{ game.name }}</h1>
  <img [src]="gameCover" [alt]="'Capa do jogo ' + game.name" *ngIf="gameCover" />
  <a
    title="Ranjithsiji, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
    href="https://commons.wikimedia.org/wiki/File:No-Image-Placeholder.svg"
    target="_blank"
    *ngIf="!gameCover"
    ><img
      width="264"
      height="352"
      [alt]="'Nenhuma imagem disponível para o jogo ' + game.name"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/256px-No-Image-Placeholder.svg.png"
  /></a>
  <div class="game__details">
    <p>{{ game.summary }}</p>
  </div>
</section>

<section class="section" *ngIf="gameScreenshots.length > 0">
  <h1>Screenshots</h1>
  <app-image-slider [images]="gameScreenshots"></app-image-slider>
</section>

<section class="section" *ngIf="game && game.similar_games">
  <h1>Jogos similares</h1>
  <div class="container">
    <app-game-item
      [game]="game"
      *ngFor="let game of game.similar_games.slice(0, 5)"
    ></app-game-item>
  </div>
</section>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
