<section class="section">
  <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
    <input
      name="name"
      class="form__input"
      type="text"
      placeholder="Pesquise por um jogo"
      ngModel
    />
    <button class="form__submit-btn" type="submit">
      <img
        src="assets/icons/iconmonstr-magnifier.png"
        width="auto"
        height="20"
      />
    </button>
  </form>
  <div class="container">
    <app-game-filters (formValues)="onFiltersUpdate($event)"></app-game-filters>
    <button class="clear-btn" type="button" (click)="onClear()">
      <strong>Limpar resultados</strong>
    </button>
  </div>

  <!--Result Games-->
  <div class="container">
    <app-game-item [game]="game" *ngFor="let game of games"></app-game-item>
  </div>

  <!--Pagination-->
  <div class="container container--center" *ngIf="games.length > 0">
    <a
      class="page-anchor"
      routerLink="."
      [queryParams]="{ page: currentPage - 1 }"
      queryParamsHandling="merge"
      *ngIf="currentPage > 1"
      >{{ currentPage - 1 }}</a
    >
    <a class="page-anchor page-anchor--active">{{ currentPage }}</a>
    <a
      class="page-anchor"
      routerLink="."
      [queryParams]="{ page: currentPage + 1 }"
      queryParamsHandling="merge"
      *ngIf="currentPage + 1 <= getLastPage()"
      >{{ currentPage + 1 }}</a
    >
    <a
      class="page-anchor"
      routerLink="."
      [queryParams]="{ page: getLastPage() }"
      queryParamsHandling="merge"
      *ngIf="currentPage + 1 < getLastPage()"
      >{{ getLastPage() }}</a
    >
  </div>
</section>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
