<section class="section">
  <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
    <input
      name="name"
      class="form__input"
      type="text"
      placeholder="Pesquise por um jogo"
      ngModel
    />
    <button class="form__submit-btn" type="submit">
      <img
        src="assets/icons/iconmonstr-magnifier.png"
        width="auto"
        height="20"
      />
    </button>
  </form>
  <div class="container">
    <app-game-filters (formValues)="onFiltersUpdate($event)"></app-game-filters>
    <button class="clear-btn" type="button" (click)="onClear()">
      <strong>Limpar resultados</strong>
    </button>
  </div>

  <div class="container">
    <app-game-item [game]="game" *ngFor="let game of games"></app-game-item>
  </div>
</section>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
