/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --font-primary: black;
  --font-secondary: white;
  --bg-primary: #EEEEEE;
  --bg-secondary: #313131;
  --color-primary: #0271f3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80%;
}

footer {
  min-height: 20%;
}

* {
  box-sizing: border-box;
}
